@charset 'UTF-8';

body {
  background-color: var(--background);
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  padding-top: 10px;
}

#notification-container {
  position: relative;
  display: inline-block;
}

#bell {
  cursor: pointer;
  z-index: 100;
}

.notifications {
  position: absolute;
  top: 70px;
  left: 10px;
  width: 200px;
  background-color: var(--primary-color);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 10px;
  z-index: 2;

  opacity: 0;
  pointer-events: none;
  transform: scale(0.8) translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.notifications h3 {
  margin: 0;
  font-size: 1.2em;
  color: #000;
  text-align: center;
}

.notifications ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  overflow-y: auto;
  max-height: 250px;
}

.notifications li {
  display: flex;
  cursor: pointer;
  align-items: center;
  color: #000;
  font-weight: bold;
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
  font-size: 0.9em;
  transition: background-color 0.3s;
}

.notifications li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.notifications li img {
  margin: 0 8px;
}

.notifications .triangle {
  position: absolute;
  top: -10px;
  left: 20px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--primary-color);
}

.notifications.open {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1) translateY(0);
}

#menu {
  cursor: pointer;
  z-index: 100;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  z-index: 1;
  transition: right 0.3s ease;
}

.sidebar a {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px 0;
  font-weight: bolder;
  color: black;
  font-size: 1.1em;
  transition: 0.3s;
  border-radius: 8px;
}

.sidebar a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.sidebar img {
  margin: 0 15px;
}

.sidebar.open {
  right: 0;
}

#container {
  display: flex;
  justify-content: center;
}

#search-bar {
  background-color: #ffffff;
  width: 400px;
  display: flex;
  padding: 6px;
  border-radius: 15px;
}

.background {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
}

.background p {
  margin: 12px;
  color: var(--primary-color);
  font-weight: bold;
}

.slider {
  background-color: rgba(0, 0, 0, 0.4);
  height: 220px;
  width: 400px;
  border-radius: 15px;
  position: relative;
}

.slides {
  display: flex;
  transition: margin-left 0.5s;
  overflow: hidden;
}

.slides input {
  display: none;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  transition: 0.5s;
}

.slide img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
  display: block;
}

.manual-navigation {
  position: relative;
  width: 400px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: ease-in 0.2s;
}

.manual-btn:not(:last-child) {
  margin-right: 10px;
}

.manual-btn:hover {
  background-color: #fff;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -100%;
}

#radio3:checked ~ .first {
  margin-left: -200%;
}

#radio4:checked ~ .first {
  margin-left: -300%;
}

.navigation-auto div {
  border: 2px solid #ffffff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: ease-in 0.2s;
}

.navigation-auto {
  position: absolute;
  width: 400px;
  margin-top: 257px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child) {
  margin-right: 10px;
}

#radio1:checked ~ .navigation-auto .auto-btn1,
#radio2:checked ~ .navigation-auto .auto-btn2,
#radio3:checked ~ .navigation-auto .auto-btn3,
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #fff;
}

#chapter {
  margin-top: 14px;
  padding-bottom: 15px;
}

h1 {
  color: var(--primary-color);
  margin-left: 10px;
}

hr {
  border: none;
  height: 2px;
  margin-bottom: 2px;
  background-color: var(--primary-color);
}

.recent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

.anime {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  margin: 8px;
}

.anime img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  transition: transform 0.3s ease;
  object-fit: cover;
}

.anime:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 1em;
  transition: height 0.3s ease;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.overlay p {
  margin: 5px 0;
}

.anime:hover .overlay {
  height: 100%;
}

/* Media Queries */

/* Para celular */
@media (max-width: 600px) {
  header {
    gap: 0;
  }

  .notifications {
    width: 170px;
  }

  .sidebar {
    width: 220px;
  }

  #search-bar {
    width: 250px;
  }

  .slider {
    width: 300px;
    height: 150px;
  }

  .manual-navigation {
    width: auto;
  }

  .navigation-auto {
    width: auto;
    margin-top: 200px;
    margin-left: 107px;
  }

  #chapter {
    margin-top: 28px;
    padding-bottom: 15px;
  }

  h1 {
    font-size: 1.5em;
  }

  .recent {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
}

/* Para tablet  */
@media (min-width: 600px) and (max-width: 1024px) {
  header {
    gap: 20%;
  }
}

/* De desktop até tv */
@media (min-width: 1024px) {
  header {
    gap: 30%;
  }

  #search-bar {
    width: 500px;
  }

  .background {
    transform: scale(1.2);
    margin: 50px;
  }
}

/* Para tv */
@media (min-width: 1920px) {
  .background {
    transform: scale(1.3);
    margin: 80px;
  }
}
