@charset 'UTF-8';

body {
    height: 100vh;
    background-color: var(--primary-color);
    background-image: url('../img/capes/recorte_1.png'), url('../img/capes/recorte_2.png');
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    background-size: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#block {
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 380px;
    width: 550px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

#signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#carousel {
    background-color: #ffffff;
    height: 345px;
    width: 230px;
    border-radius: 15px;
    overflow: hidden;
}

#images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.image {
    min-width: 100%;
}

h1 {
    color: white;
    font-size: 2.5em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    text-align: center;
}

input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    border: none;
    width: 100px;
    font-size: 1.05em;
    padding: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #a5722b;
}

button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    border: none;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(194, 194, 194);
}

label {
    color: white;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
